 body {
    margin: 0;
    padding: 0; 
    background-color: rgb(253, 239, 213);
 }
 .navbar {
    background-color: rgb(247, 208, 136);
    height: 80px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding-left: 10%;padding-right: 10%;
 }
.nav-button {
    background-color: rgb(247, 208, 136);
    font-size: 24px; font-family: jockey system-ui;
    border: rgb(247, 208, 136);
}
.nav-button a{
    text-decoration: none;
    color: black;
}
h1 {
    font-size: 24px; font-family: jockey system-ui;
    margin-left: 10%;
}
h2 {
    font-size: 24px; font-family: jockey system-ui;
    margin-left: 10%;
}
.product-container {
    display: flex;
    margin: auto; margin-bottom: 10px;margin-top: 20px;
    border: 2px solid black; border-radius: 20px;
    justify-content: space-around;
    width: 80%; height: auto;
    align-items: center;
    background-color: white;
}
.product-container:last-of-type {
  margin-bottom: 100px;
}
.location-container:last-of-type {
  margin-bottom: 100px;
}
.location-container {
    display: flex;
    margin: auto; margin-bottom: 10px;margin-top: 20px;
    border: 2px solid black; border-radius: 20px;
    justify-content: space-around;
    width: 80%; height: 75px;
    align-items: center;
    background-color: white;
}
.product-img img {
    height: 100px; width: 100px;
    margin: 10px;
}
.product-img-1 img {
    height: 100px; width: 100px;
    display: none;
}
.product-info {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin:10px;
}
.top-row {
    display: flex;
    justify-content: space-between;
    width: 95%;
}
.bottom-row {
    display: flex;
    justify-content: space-between;
    width: 95%;
}
.middle-row {
    display: flex;
    justify-content: space-between;
    width: 95%;
}
button {
    padding: 5px;
    background-color: rgb(253, 239, 213);
    border-radius: 20px;
    padding: 10px;
}
button a{
    text-decoration: none;
    color: black;
}
.title {
    font-size: 24px;
    font-family: jockey system-ui;
    font-weight: 700;
}
.price {
    font-size: 24px;
    font-family: jockey system-ui;
    font-weight: 700;
}
.description {
    margin-bottom: 8px;
    font-size: 15px;
    line-height: 1.3;
}
.fda-label {
    font-size: 13px;
}
 .navbar-2 {
    background-color: rgb(247, 208, 136);
    height: 80px;
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    position: fixed;
    bottom: 0px;
 }
 .location {
    font-size: 22px;
 }
 .location a {
    text-decoration: none;
    color: black;
 }
 @media (max-width: 600px) {
    .product-container {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }
    .top-row, .middle-row  {
        flex-direction: column;
        align-items: flex-start;
    }
 }